body {
    margin: 0;
    background: rgb(255, 255, 255);
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
    padding-bottom: 3em;
} 

.enlace{
    position: absolute;
    padding: 20px 50px;
}

.logo{
    margin-top: -5%;
    margin-left: 15%;
    height: 60px;
    width: 110px; 
}
.titulos
{
 font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contenidos
{
font-family: Montserrat;
font-size: 16px;
}
.cont-min{
    display: flex;
    justify-content: end;
    align-items:center;
    position: relative;
    top: 20px;
}
/*copiar*/
.bandera1 {
    margin-top: -5%;
    margin-right: 15%;
    height: 20px;
    width: 23px;
}
.dropdown-menu{
    background: #000000;
}
li a.active,
li a:hover {
    text-decoration: none;
    background: #5890ba;
    transition: 0.5s;
}

/*copiar*/
.navbar-toggler {
    color: white;
    background-color: white;
}

/*copiar*/
.colormenu {
    color: white;
    border-radius: 4%;
    animation: none;
}

/*copiar*/
.nav-link {
    color: white
}

/*copiar*/
.navbar-light .navbar-nav .nav-link {
    color: white;
    border-radius: 3%;
}

/*copiar*/
.derecha {
    margin-right: 1%
}
/*Copiar*/
.container-fluid {
    background-color: black;
}
/*Copiar*/
.cont-text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* El body se copia completo en todos*/
section{
    background-color: white;
}

h4
{
    font-size: 18px;
    color: rgb(0, 0, 0)
}
div#general{
    width: 80%;
    height: auto;
    background-color: #ffffff;
    margin: auto;
    margin-top: 50px;
}
div#general h5{
    margin-top: 40px;
    color: rgba(0, 0, 0, 0.589)
}

div#general h1{
    margin-top: 25px;
}


label.logo{
    color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}



.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}


/* aqui comienza el nuevo footer*/
/* es diferente al del index, pero el index es un caso especial*/
footer{
    position: absolute;
    bottom: 0 ;
    background-color: #000000;
    width: 100%;
    padding: 0;
}

footer img {
    padding: 6px;
    width: 50px;
    height: 48px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    background: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 300ms;
}
footer img:hover{
    transform: translateY(-10px);
}

    
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
       }
       .derecha {
        margin-right: 1%
    }
    #check:checked~ul {
        left: 0;
    }
/* Se copia todo*/

}
@media (max-width: 856px){
 .checkbtn{
    display: block ;
 }
 .derecha {
    margin-right: 1%
}
#check:checked~ul {
    left: 0;
}
}

/* Aquí empieza el script y su css*/
script
{
    align-items: flex-start;
    color: white;
}
@media (max-width: 856px) {
    .checkbtn {
        display: block;
    }

   
    #check:checked~ul {
        left: 0;
    }
    .derecha {
        margin-right: 1%
    }
}




